table{
    border: solid 2px blue;
    width: 50%;
}
.c{
    color: black;
    background-color: rgb(192, 192, 192);
    height: 40px;
}
.a{
    background-color: #fcc;
}
.r{
    background-color: #ffc;
}
.t{
    background-color: #CFC;
}
.y{
    background-color: #CFF;
}
tr{
    background-color: #Ccf;
}
